:root {
  --primary-color: #2a9d8f;
  --secondary-color: #e76f51;
  --background-color: #f4f4f9;
  --text-color: #333;
  --light-gray: #ccc;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: var(--primary-color);
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Botones */
.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: #21867a;
  transform: scale(1.05);
}

.btn-danger {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-danger:hover {
  background-color: #d45b3d;
  transform: scale(1.05);
}

.btn-info {
  background-color: #457b9d;
  color: #fff;
}

.btn-info:hover {
  background-color: #3a6482;
  transform: scale(1.05);
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}